body{
    font-family: Arial;
    background:#f4f4f4;
    margin:0;
}

.navbar{
    background:#0077cc;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.container{
    width:90%;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:8px;
}

.small-box{
    max-width:400px;
}

.form-box{
    display:flex;
    flex-direction:column;
}

input{
    padding:10px;
    margin-bottom:15px;
}

button{
    padding:10px;
    background:#0077cc;
    color:white;
    border:none;
    cursor:pointer;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table th,
table td{
    border:1px solid #ccc;
    padding:10px;
}

.card-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.card{
    background:#0077cc;
    color:white;
    padding:20px;
    border-radius:8px;
}

.message{
    padding:10px;
    margin-bottom:10px;
}

.success{
    background:#c8f7c5;
}

.error{
    background:#ffcccc;
}