body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

.container {
    width: 85%;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.small-box {
    width: 350px;
}

h1 {
    font-size: 32px;
    color: #333;
}

input {
    padding: 6px;
    font-size: 14px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.dashboard-btn {
    float: right;
    background: #007bff;
    color: white;
    padding: 12px 18px;
    border-radius: 5px;
    text-decoration: none;
}

.edit-btn {
    background: orange;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    text-decoration: none;
}

.delete-btn {
    background: red;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    background: #eeeeee;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #eeeeee;
    text-align: left;
    padding: 12px;
}

td {
    padding: 12px;
    border: 1px solid #dddddd;
}

.ok {
    background: green;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: bold;
}

.low {
    background: red;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: bold;
}