<!DOCTYPE html>
<html>
<head>
    <title>Inventory Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">Inventory Management System</div>

    <div class="nav-links">
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('inventory') }}">Inventory</a>
        <a href="{{ url_for('sales') }}">Sales</a>
        <a href="{{ url_for('reports') }}">Reports</a>
        <a href="{{ url_for('category_report') }}">Category Report</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</nav>

<div class="main-box">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

</body>
</html>