<!DOCTYPE html>
<html>
<head>
    <title>Edit Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Edit Item</h1>

    <form method="POST" class="form-box">

        <label>Product Name</label>
        <input type="text"
               name="product_name"
               value="{{ item.product_name }}"
               required>

        <label>Quantity</label>
        <input type="number"
               name="quantity"
               value="{{ item.quantity }}"
               required>

        <label>Category</label>
        <input type="text"
               name="category"
               value="{{ item.category }}"
               required>

        <label>Low Stock Limit</label>
        <input type="number"
               name="low_stock_limit"
               value="{{ item.low_stock_limit }}"
               required>

        <button type="submit">Update Item</button>

    </form>

</div>

</body>
</html>