<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-page">

<div class="login-box">

    <h1>Login</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" value="admin" required>

        <label>Password</label>
        <input type="password" name="password" value="password" required>

        <button type="submit">Login</button>
    </form>

</div>

</body>
</html>